@charset 'utf-8';
a{
    display: inline-block;
    /* background:rgba(153,153,153,0.5); */
}
/* show */
.show a{
    position: absolute;
}
.show div{
    position: relative;
}
.show div a:nth-of-type(1){
    width: 157px;
    height: 38px;
}
.show1{
    position: relative;
    width: 1902px;
    height: 737px;
}
.show1 a:nth-of-type(1){
    position: absolute;
    left: 1160px;
    top: 509px;
}
.show1 a:nth-of-type(2){
    position: absolute;
    width: 178px;
    height: 489px;
    top: 140px;
    left: 866px;
}
.show2 a:nth-of-type(1){
    left: 416px;
    top: 530px;
}
.show2 a:nth-of-type(2){
    width: 218px;
    height: 629px;
    left: 1048px;
    top: 22px;
}
.show3 a:nth-of-type(1){
    left: 1167px;
    top: 526px;
}
.show3 a:nth-of-type(2){
    top: 239px;
    left: 704px;
}
.show4 a:nth-of-type(1){
    left: 440px;
    top: 462px;
}
.show4 a:nth-of-type(2){
    left: 707px;
    top: 254px;
}
.show5 a:nth-of-type(1){
    left: 1209px;
    top: 499px;
}
.show5 a:nth-of-type(2){
    width: 307px;
    height: 334px;
    left: 788px;
    top: 277px;
}
.show6 a:nth-of-type(1){
    left: 405px;
    top: 526px;
}
.show6 a:nth-of-type(2){
    left: 765px;
    top: 183px;
}
.show7 a:nth-of-type(1){
    left: 1179px;
    top: 512px;
}
.show7 a:nth-of-type(2){
    width: 147px;
    height: 546px;
    left: 906px;
    top: 139px;
}
.show8 a:nth-of-type(1){
    left: 390px;
    top: 521px;
}
.show8 a:nth-of-type(2){
    left: 716px;
    top: 236px;
}
.show9 a:nth-of-type(1){
    left: 1246px;
    top: 587px;
}
.show9 a:nth-of-type(2){
    left: 763px;
    top: 278px;
}
.show10 a:nth-of-type(1){
    left: 446px;
    top: 551px;
}
.show10 a:nth-of-type(2){
    left: 718px;
    top: 278px;
}
